/* #####TABLE OF CONTENTS##### 
	1. HTML ELEMENTS
		1.1 body
		1.2 header
		1.3 a
		1.4 nav
	2. CLASSES
		2.1 .navlink
	3. IDs
	
	4. MULTI SELECTORS
		4.1 nav h1
		4.2 .hero h1
		4.3 .hero p*/

/*####### HTML ELEMENTS #####
############################*/

body {
	display: flex;
	flex-direction: column;
}

header {
	background-color: #1f2937;
}

a {
	font-size: 18px;
	color: #e5e7eb;
	text-decoration: none;
	padding: 0 18px 0 12px;
}

nav {
	display: flex;
	align-items: center;
}

/*####### CLASSES ##########
############################*/

.navlink {
	margin-left: auto;
}

/*####### ID's ##############
############################*/

/*####### MULTI SELECTORS #####
############################*/

nav h1 {
	font-size: 24px;
	color: #f9faf8;
}

.hero h1 {
	font-size: 48px;
	font-weight: extra-bold;
	color: #f9faf8;
}

.hero p {
	font-size: 18px;
	color: #e5e7eb;
}
